@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  background-color: black;
}

html,
body {
  background-color: black;
  color: white;
  /* 可選，預設文字為白色 */
  height: 100%;
}

body.white-theme {
  background-color: white;
  color: black;
}

#root.white-root {
  background-color: white;
  color: black;
}

#root.noPaddingTop {
  padding: 0;
}
.sm-container-space {
  @apply mx-[15px] my-[50px];
}
.lg-container-space {
  @apply mx-[50px] my-[100px];
}

.white-container {
  @apply bg-white;
}